.footer {
  bottom: 0;
  width: 100%;
  height: 160px;
  padding-top: 0.25em;
  border-top: 1px solid #006ca2;
  margin-top: 2em;
}

.org-logos {
  margin-top: 1em;
}

.cite-me {
  margin-top: 1em;
}
